{% extends "layout.html" %}
{% block content %}
    <!--Will display forms to ask for user input-->
    <h2>Delete an entry</h2>
    <form action="{{ url_for('delete') }}" method=post>
        <p class="heading">Department <input type=text name=department>
        <p class="heading">Course Number: <input type=text name=courseNum>
        <p class="heading">Quarter: <input type=text name=quarter>
        <p class="heading">Year: <input type=text name=year>
        <p class="heading">Instructor: <input type=text name=instructor>
        <p><input type=submit value=Delete></p>
    </form>
{% endblock %}

