{% extends "layout.html" %}
{% block content %}
    <!--Will display forms for user to fill in -->
    <p style="text-align:right;"><a href="{{ url_for('logout') }}"> Logout </a></p>
    <h2>Hello {{ name }} {{ email }}</h2>  
    <img src="{{ picture }}" width=25px height=25px> 

    <h3>Create a new submission</h3>
    <form action="{{ url_for('submit') }}" method=post>
	<p class="heading">Department <input type=text name=department>
	<p class="heading">Course Number: <input type=text name=courseNum>
	<p class="heading">Quarter: <input type=text name=quarter>
	<p class="heading">Year: <input type=text name=year>
	<p class="heading">Instructor: <input type=text name=instructor>
        <p class="heading">Review:
	<textarea rows=5 cols=50 name=review></textarea></p>
	<!--Will display a submit button -->
	<p><input type=submit value=Submit></p>
    </form>
{% endblock %}
